[MESSAGES CONTROL]

disable=
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    duplicate-code,

[FORMAT]

good-names=i,j,k,x,y,dx,dy,n,_
max-line-length=180
